@model IEnumerable<SistemaEduEscola.Models.Unidade>

@{
    ViewData["title"] = "Unidades";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script src="https://kit.fontawesome.com/7198f8d6d1.js" crossorigin="anonymous"></script>

<h1 style="margin-top:100px">Unidades</h1>
<br>

<div class="row-md-12">
    <div class="col-8"></div>
    <div class="col-4">

        <form class="d-flex" role="Pesquisar">
            @using (Html.BeginForm("Index", "Unidades", FormMethod.Get))
            {

                <input class="form-control" type="search" placeholder="Pesquisar nome" aria-label="Pesquisar" @Html.TextBox("Pesquisar");>
                
                <button type="submit" value="Procurar" class=" btn-dark text-white" aria-label="Pesquisar" style = "border-radius:3px; margin-right: 5px ">Procurar</button>
                <button type="submit" class=" btn-dark text-white" aria-label="Pesquisar" style="border-radius:3px" asp-action="Create">Cadastrar</button>
            }
        </form>
        <br>
    </div>
</div>



<table class="table">
    <thead>
        <tr class="table-dark border-color-dark">
            <th class="table-group-divider">
                <h6>Unidade</h6>
                @*@Html.DisplayNameFor(model => model.NomeUnidade)*@
            </th>
            <th>
                <h6>Endereço</h6>
                @*@Html.DisplayNameFor(model => model.Enderoco)*@
            </th>
            <th>
                <h6>Quantidade de Alunos</h6>
                @*@Html.DisplayNameFor(model => model.QtdAlunos)*@
            </th>
            <th>
                <h6>Quantidade de turmas</h6>
                @*@Html.DisplayNameFor(model => model.QtdTurmas)*@
            </th>
            <th></th>
        </tr >
    </thead>
    <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeUnidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enderoco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtdAlunos)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QtdTurmas)
                </td>
                <td>
                        @*<a asp-action="Edit" asp-route-id="@item.Id">
                            <span class="material-symbols-outlined" style="color: #000 ">
                                edit
                            </span>
                        </a> *@
                        <a asp-action="Details" asp-route-id="@item.Id">
                            <span class="material-symbols-outlined" style="color: #000 ">
                                info
                            </span>
                        </a> 

                </td>
            </tr>
    }
    </tbody>
</table>
