@model IEnumerable<SistemaEduEscola.Models.Materia>

@{
    ViewData["Title"] = "Matérias";
}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<script src="https://kit.fontawesome.com/7198f8d6d1.js" crossorigin="anonymous"></script>

<h1 style="margin-top:100px">Matérias</h1>
<br>

<div class="row-md-12">
    <div class="col-8">
    </div>
    <div class="col-4">

        <form class="d-flex" role="Pesquisar">
            @using (Html.BeginForm("Index", "Materias", FormMethod.Get))
            {

                <input class="form-control" type="search" placeholder="Pesquisar nome" aria-label="Pesquisar" @Html.TextBox("Pesquisar");>
                
                <button type="submit" value="Procurar" class=" btn-dark text-white" aria-label="Pesquisar" style = "border-radius:3px; margin-right: 5px ">Procurar</button>
                <button type="submit" class=" btn-dark text-white" aria-label="Pesquisar" style="border-radius:3px" asp-action="Create">Cadastrar</button>
            }
        </form>
        <br>
    </div>
</div>
<table class="table">
    <thead>
        <tr class="table-dark border-color-dark">
            <th class ="table-group-divider">
                <h6>Matéria</h6>
                @*@Html.DisplayNameFor(model => model.NomeMateria)*@
            </th>
            <th>
                <h6>Professor</h6>
                @*@Html.DisplayNameFor(model => model.Professor)*@
            </th>
            <th>
                <h6>Turma</h6>
                @*@Html.DisplayNameFor(model => model.TurmaId)*@
            </th>
            <th>
                <h6>Unidade</h6>
                @*@Html.DisplayNameFor(model => model.Unidades)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeMateria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Professor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TurmaId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unidades.Id)
            </td>
            <td>
                @*<a asp-action="Edit" asp-route-id="@item.Id">
                        <span class="material-symbols-outlined" style="color: #000 ">
                            edit
                        </span>
                    </a> *@
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <span class="material-symbols-outlined" style="color: #000 ">
                            info
                        </span>
                    </a> 
                    @*<a asp-action="Delete" asp-route-id="@item.Id">
                        <span class="material-symbols-outlined" style="color: #000 ">
                            delete
                        </span>
                    </a>*@
            </td>
        </tr>
}
    </tbody>
</table>
